[project]
name = "dobot-demo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "opencv-python>=4.12.0.88",
    "pymcprotocol>=0.3.0",
    "ultralytics>=8.3.236",
]
